<a href="https://colab.research.google.com/github/dipticollege24/PYTHON_DATA/blob/master/Day_2_session_2_Dictionary__Exercises_Tests.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.
n=int(input("Enter no of records"))
d={}
for i in range(1,n+1):
  name= input("Enter name %s"%(i))
  mark=int(input("Enter mark %d"%(i)))
  d[name]=mark
print (d)
import operator
sorted_a= sorted(d.items(), key=operator.itemgetter(1),reverse=True)
print(sorted_a)

Enter no of records2
Enter name 1ssss
Enter mark 12
Enter name 2fdd
Enter mark 245
{'ssss': 2, 'fdd': 45}
[('fdd', 45), ('ssss', 2)]

In [5]:
#Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary
n=int(input("Enter no of Employees"))
d={}
for i in range(1,n+1):
  name= input("Enter name %s"%(i))
  sal=int(input("Enter Salary %d"%(i)))
  d[name]=sal
print (d)
import operator
sorted_a= sorted(d.items(), key=operator.itemgetter(0))
print(sorted_a)

Enter no of records3
Enter name 1dipti
Enter Salary 123
Enter name 2amita
Enter Salary 225
Enter name 3bablu
Enter Salary 323
{'dipti': 23, 'amita': 25, 'bablu': 23}
[('amita', 25), ('bablu', 23), ('dipti', 23)]

3.	Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in salary  ascending order and sum, max, min and average of the salaries

In [6]:
n=int(input("Enter no of Employees"))
d={}
for i in range(1,n+1):
  name= input("Enter name %s"%(i))
  sal=int(input("Enter Salary %d"%(i)))
  d[name]=sal
print (d)
import operator
sorted_a= sorted(d.items(), key=operator.itemgetter(1))
print(sorted_a)
print("sum of Salary")
print(sum(d.values()))
print("Maximum Salary")
print(max(d.values()))
print("Minimum Salary")
print(min(d.values()))

Enter no of Employees3
Enter name 1dipti
Enter Salary 123
Enter name 2radha
Enter Salary 234000
Enter name 3Bablu
Enter Salary 345000
{'dipti': 23, 'radha': 34000, 'Bablu': 45000}
[('dipti', 23), ('radha', 34000), ('Bablu', 45000)]
sum of Salary
79023
Maximum Salary
45000
Minimum Salary
23

4.	Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print only the employees whose salary is greater than 2000 but less than 4000

In [8]:
n=int(input("Enter no of Employees"))
d={}
for i in range(1,n+1):
  name= input("Enter name %s"%(i))
  sal=int(input("Enter Salary %d"%(i)))
  d[name]=sal
#print (d)
#print greater than 2000 but less than 4000
for (k,v) in d.items():
  if(d[k]>2000 and d[k]<4000):
    print(k,"==>",v)

Enter no of Employees5
Enter name 1dddd
Enter Salary 11000
Enter name 2aaaaa
Enter Salary 212000
Enter name 3cccc
Enter Salary 33400
Enter name 4dddd
Enter Salary 44000
Enter name 5eeee
Enter Salary 52000
{'dddd': 4000, 'aaaaa': 12000, 'cccc': 3400, 'eeee': 2000}
cccc ==> 3400

5.	Python program to convert a 3 digit number  into words

In [31]:
d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\
10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\
17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\
60:'sixty',70:'seventy',80:'eighty',90:'ninty'}
num=int(input("Enter the integer between 1 to 99:"))
if (num<=20):
  print(d[num])
if(num>20 and num<100):
  if num%10==0:
    print(d[num])
  else:
    print(d[num//10*10]+""+d[num%10])
if(num>100 and num<999):
   if num%100==0:
    print(d[num/100],"Hundred")
   else:
    print(d[num//100],"Hundred")
    print(d[(num//10)%10*10]+""+d[num%10])

Enter the integer between 1 to 99:110
one Hundred
ten